extends ../../layouts/layout.pug

block content
  h1 Invoices
  ul
    li
      a(href="/") Back
  table
    thead
      tr
        th Vendor
        th Invoice ID
        th Date
        th Due Date
        th Total Amount
        th Status
    tbody
      each invoice in invoices
        tr
          td=invoice.vendorName
          td
            a(href=`/invoices/${invoice.id}`)=invoice.vendorInvoiceId
          td=invoice.date && new Date(invoice.date.year, invoice.date.month - 1, invoice.date.day).toISOString().slice(0, 10)
          td=invoice.dueDate && new Date(invoice.dueDate.year, invoice.dueDate.month - 1, invoice.dueDate.day).toISOString().slice(0, 10)
          td #{invoice.currency} #{invoice.totalAmount}
          td=invoice.status