extends ../../../layouts/layout.pug

block content
  h1 Invoice Details
  a(href="/invoices") Back
  h2 #{invoice.vendorName} - Invoice #{invoice.vendorInvoiceId}
  form(method="post")
    div
      label(for="address") Address 
      input(id="address" type="textarea" name="address" minlength="1" value=invoice.vendorAddress)
    div
      label(for="date") Date 
      input(id="date" type="date" name="date" value=invoice.date && new Date(invoice.date.year, invoice.date.month - 1, invoice.date.day).toISOString().slice(0, 10))
    div
      label(for="dueDate") Due Date 
      input(id="dueDate" type="date" name="dueDate" value=invoice.dueDate && new Date(invoice.dueDate.year, invoice.dueDate.month - 1, invoice.dueDate.day).toISOString().slice(0, 10))
    div
      label(for="netAmount") Net Amount
      input(id="netAmount" type="number" name="netAmount" min="0" step="0.01" value=invoice.netAmount)
    div
      label(for="totalTaxAmount") Total Tax Amount
      input(id="totalTaxAmount" type="number" name="totalTaxAmount" min="0" step="0.01" value=invoice.totalTaxAmount)
    div
      label(for="totalAmount") Total Amount
      input(id="totalAmount" type="number" name="totalAmount" min="0" step="0.01" value=invoice.totalAmount)
    div
      label(for="currency") Currency 
      select(id="currency" name="currency")
        each currency in currencies
          option(value=`${currency}` selected=invoice.currency === currency)=currency
    p=error
    button Update